[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
sentry-sdk = "*"
django = "*"
django-debug-toolbar = "*"
django-ordered-model = "*"
ipython = "*"
django-extensions = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
model-bakery = "*"

[requires]
python_version = "3.8"
