{% extends 'base/base.html' %}
{% load static %}
{% block title %}DevPro - Home{% endblock title %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Cursos
                </h2>
                <p>
                    Confira em breve mais informações...
                </p>
                <h4 class="mt-4">Matrículas!</h4>
                <!-- INICIO DO BOTAO PAGSEGURO (Lembrando que esse código e de teste)-->
                <a href="https://pag.ae" target="_blank"
                   title="Pagar com PagSeguro"><img
                        src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
                        alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a>
                <!-- FIM DO BOTAO PAGSEGURO -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            Mais informações...
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/tutorial_python.jpeg' %}"
                                     class="img-thumbnail float-left mr-3"/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

